:root{
    transition: 1.5s!important;
}
.modal.modal_multi {
	background: #fff;
}
.modal{
    display: none;
}
.modal-content{
    padding: 40px;
    border: none;
}
.modal-content span {
	text-align: left;
	font-size: 27px;
	font-weight: 600;
    color: #cb0f0f;
    margin-bottom: 10px;
}
.modal-content h3 {
	text-align: left;
	font-size: 60px;
	font-weight: 700;
    color: #cb0f0f;
    margin-bottom: 100px;
}
.modal-content p {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	background: #cb0f0f;
	padding: 50px 70px;
	text-align: left;
}
/* 
.modal-content {
    background-color: #fefefe;
    padding: 25px;
    border: 1px solid #888;
    width: 95%;
    margin: auto;
    height: 90vh;
    position: absolute;
    top: 2%;
    left: 0;
    right: 0;
    transition: 1.5s!important;
} */


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: 1.5s!important;
}
/* ================================= */
section.slider-main__wrap {
    text-align: center;
    background: #333;
}
.content button {
	padding: 50px 0px;

    cursor: pointer;
}
.slider-active:hover {
    background: url("../img/01.jpg") no-repeat scroll center center / cover;
}
.content button:hover {
	background: #cb0f0f;
    opacity: 0.9;
}
.content button h3{
	color: #fff;
	font-size: 30px;
    opacity: 1;
}
section.slider-main__wrap {
	text-align: center;
	cursor: url(../img/arrow-right-white.png) 36 36, auto;
}
.close {
	color: #333;
	/* float: right; */
	font-size: 51px;
	font-weight: bold;
	transition: 1.5s !important;
	background: #fff;
	/* padding: 7px; */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 37px;
	opacity: 1;
	margin-top: 36px;
	text-align: center;
}

.left-wrapper {
	background-image: linear-gradient(to top, red,orange,yellow,green,#676796,indigo,#e56ce5);
}
/* 
.slider-main__wrap .clickarea.left, [riot-tag="rac-slideshow"] .clickarea.left, [data-is="rac-slideshow"] .clickarea.left {
	left: 0;
	cursor: w-resize;
}
.slider-main__wrap .clickarea.left, [riot-tag="rac-slideshow"] .clickarea.left, [data-is="rac-slideshow"] .clickarea.left {
	left: 0;
	cursor: w-resize;
}
.slider-main__wrap .clickarea.right, [riot-tag="rac-slideshow"] .clickarea.right, [data-is="rac-slideshow"] .clickarea.right {
	right: 0;
	cursor: e-resize;
}
.slider-main__wrap .clickarea, [riot-tag="rac-slideshow"] .clickarea, [data-is="rac-slideshow"] .clickarea {
	bottom: 0;
	position: absolute;
	top: 0;
	width: 50%;
}
.slider-main__wrap .clickarea.left, [riot-tag="rac-slideshow"] .clickarea.left, [data-is="rac-slideshow"] .clickarea.left {
	left: 0;
}
.slider-main__wrap .clickarea, [riot-tag="rac-slideshow"] .clickarea, [data-is="rac-slideshow"] .clickarea {
	bottom: 0;
	position: absolute;
	top: 0;
	width: 50%;
}
.slider-main__wrap .clickarea.left .nav-arrow, [riot-tag="rac-slideshow"] .clickarea.left .nav-arrow, [data-is="rac-slideshow"] .clickarea.left .nav-arrow {
	right: 110px;
} */


.myBtn_multi {
    display: inline-block;
    width: 100%;
    border: none;
    padding: 24px 0;
    font-size: 24px;
    font-weight: 700;
}


.myBtn_multi:nth-child(1) {
    background-color: #cb0f0f;
}


/* ================================= */